body{
    background-image:url(background_img.avif);
    background-size: cover;
}
h2{
    color:white;
    text-align: center;
    border: 5px dashed rgba(39, 32, 39, 0.5);
    cursor:pointer;
}
p{
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Dancing Script', cursive;
}
.webtext1{
    color:white;
    text-align: center;
    border: 5px solid rgba(66, 62, 66, 0.3);
}
.webtext2{
    color:white;
    text-align: center;
    border: 5px solid rgba(66, 62, 66, 0.5);
}
.webtext3{
    color:white;
    text-align: center;
    border: 5px solid rgba(66, 62, 66, 0.8);
}
img{
    float: left
}
/*clear:both används efter en float för att ta bort så inte resterande objekt följer samma mönster*/
footer{
    clear:both;
    color:white;
    text-align: center;
}
li{
    list-style: none;
    color: white;
    display: inline-block;
}
#div1{
    background: rgba(15, 13, 15, 0.8);
}
#div1:hover{
    background: rgba(165, 163, 165, 0.8);
}
:visited{
    color:rgb(105, 103, 103);
}
